@tailwind base;
@tailwind components;
@tailwind utilities;


#INTRO {
  border-radius:3%;
  background-image: url("https://assets.api.uizard.io/api/cdn/stream/a8ce660d-47da-404a-b3b3-63ca6970ddcf.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.buttons {
  width: 8rem;
}


.container {
  justify-content: center;
  
}

.card {
  width: 200px;
  height: 150px;
}



@layer base {

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-col-between {
    @apply flex flex-col items-center justify-between;
  }
}

